@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    font-family: 'Orbitron', sans-serif;
}
body{
    background: linear-gradient(to right, #054092, #202060);
}

ion-icon {
    font-size: 64px;
  }
nav{
    display: flex;
    padding: 0% 2%;
    justify-content: space-between;
    margin-top: 1%;
}

nav img{
    margin-top: 1%;
    width: 200px;
}

.links{
    margin-top: 0;
    flex: 1;
    text-align: right;
    
}
.links ul li{
    display: inline-block;
    padding: 6px 12px;
    position: relative;
    font-size: 12px;
}
.links ul li a{
    color: white;
    font-size: 23px;
    text-decoration: none;

}
/* After clicking the link */
.links ul li::after{
    content: '';
    width: 0%; 
    height: 2px; 
    background: navy;
    display: block;
    margin: auto;
    transition: 0.2s;
}
.links ul li:hover::after{
    width: 100%; 
}

.uploadFile{
  position: relative;
  overflow: hidden;
  display: inline-block;
}


.centerBox{
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.centerBox h1{
    font-size: 58px;
    color: white;
}
.centerBox p{
    margin: 10px  40px;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.drop_zone{
    border-style: dashed; 
    border-radius: 15px;
    border-color: white;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.uploadfilesLabel{
    cursor: pointer;
    padding: 5px;
    background: rgb(65, 163, 0);
    border-radius: 10px;
    color: white;
}

.uploadfilesLabel:hover{
    background-color: rgb(18, 161, 94);
}

.folderTextBox h4{
    color:rgb(255, 255, 255); 
    font-size: 18px;
}

.fileTextBox h4{
    color: white;
    font-size: 18px;
}

.webcam h3{
    color: white;
    font-size: 18px; 
    text-decoration: underline; 
}

.webcam{
    text-align: center;
}

.getStartedBtn{
    display: inline-block;
    text-decoration: none;
    background: rgba(0, 247, 132, 0.842);
    padding: 12px 32px;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 15px;
}

.getStartedBtn:hover{
    color: white;
    border: 1px solid black; 
    background: rgba(0, 247, 132, 0.842);
    transition: 0.5s;}

@media(max-width: 400px){
    .centerBox h1{
        font-size: 30px;
    }
}


.fileTextBox a{
    background-color: rgb(65, 163, 0);
    color: white; 
    padding: 7px 17px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    
}

.fileTextBox a:hover, a:active{
    color: white;
    border: 1px solid black; 
    transition: 0.5s;
}

.step1 {
    background-color: #011f4b;
}
.step1 h2{
    color: rgb(213, 243, 254);
    text-decoration: underline;
}
.step1 p{
    color: white;
}
.step2{
    background-color:#03396c;
}
.step2 p{
    color: white;
}
.step2 h2{
    color: rgb(213, 243, 254);
    text-decoration: underline;
    
}

.step3{
    background-color: #005b96;
}

.step3 h2{
    color: rgb(213, 243, 254);
    text-decoration: underline;
}
.step3 p{
    color: white;
}

.stepButton{
    background: rgb(226, 84, 84);
    color: white;
    border-radius: 200px;
    border-color: transparent;
    display: inline-block;
    text-align: center;
    width: 4%;
}

.stepP{
    display: inline-block;
    color: white;
    font-weight: bold;
    margin-left: 1%;
}
.SubPage{
    background:#03396c;
    border-radius: 15px;
}


