<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width=device-width" initial-scale=1.0>
        <link rel="stylesheet" href="static/styles.css">
        <title>FRAS</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    </head>
 
    <body>
          
         <section class="top">
            <nav>
                <a href=""><img src="static/FRASC.png "></a>
                <div class = "links">
                    <ul>
                    <li><a href=" ">Home</a></li> 
                    <li><a href="instructions.html">Instructions</a></li> 
                    </ul>
                </div>
            </nav>
         </section>   
      
        <div class = "centerBox">
            <h1>FRAS: An Attendance System Powered By Facial Recognition</h1>
            <a href="submit.html" class= getStartedBtn>Get Started</a>
        </div>
    </body>
</html>