<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width=device-width" initial-scale=1.0>
        <link rel="stylesheet" href="static/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
        <title>FRAS</title>
    </head>
 
    <body>
        </section>
         <section class="top">
            <nav>
                <a href=""><img src="static/FRASC.png "></a>
                <div class = "links">
                    <ul>
                    <li><a href=" ">Home</a></li> |
                    <li><a href="instructions.html">Instructions</a></li> |
                    </ul>
                </div>
            </nav>
         </div>   
      
        <div class = "centerBox">
            <h1>FRAS: An attendance system powered by facial recognition</h1>
            <p>**Please go to the Instructions page if you are a first-time user**</p>
            <p>Click below to get started</p>
            <a href="submit.html" class= getStartedBtn>Get Started</a>
        </div>
    </body>
</html>
