<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width=device-width" initial-scale=1.0>
        <link rel="stylesheet" href="static/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
        <title> Instructions </title>
    </head>

    <body>
        <section class="step1"> 
            <h2>Step 1</h2>
            <p>Create a folder with the images of faces. Be sure to name each image with the name of the person like this: Chris Evans.  Click on the Choose file button 
                and select all the images using your mouse cursor. Click on submit when you are done. 
            </p>
            <br><img src="static/UploadFile.png"><br>
            <img src="static/UploadFile2.png" width=350px > 
        </section>
        <hr>
        <section class="step2">
            <h2>Step 2</h2>
            <p>This step requires a webcam in order to recognize the faces. Adjust the webcam in a way in which it will be able to see the faces of people. 
                When a face is detected, it will output a box with their name like in this picture: 
            </p>
            <img src= "static/Capture.png">
        </section>
        <hr>
        <section class="step3">
            <h2>Step 3</h2>
            <p>When you are finished, click the download button and you will receive a text file with the names and times of those recorded along with the names of those who are absent.</p>
            <br><img src= "static/Download.png"><br>
            <img src= "static/MarkAttendance.png" width=600px>
        </section>
    </body>
</html>
