<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width=device-width" initial-scale=1.0>
        <link rel="stylesheet" href="static/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
        <title> Submit </title>
    </head>
    <body>
    <div class="backg">
        <br><br><br>
        <div class= "folderTextBox">
            <h4>Please upload a folder of face images:</h4>
            <form action="{{url_for('submit')}}" method= "POST" enctype= "multipart/form-data">
                <div class="uploadFile">
                <p><input type="file" name="imagefolder" class= "imgfolder" multiple="true" autocomplete="off"></p>
                <p><input type="submit" class= "imgsubmit" value="Submit"></p><br><br>
                
                </div>
            </form>
        <div class= "fileTextBox">
            <h4>Once you are done with the webcam download this file <br> (CAUTION:DOWNLOAD ONLY WHEN FINISHED):</h4>
            <a href="{{ url_for('.download') }}">Download</a><br><br>
        </div>
        <div class='webcam'>
            <h3 class="ls">Webcam</h3>
            <img src="{{url_for('video_feed')}}" width="100%">
        </div>
    </div>
    </body>
</html>
